@import "../../../../assets/css/app.css";
@import "../../../../assets/css/style.css";

header {
  margin-top: 118px;
  margin-bottom: 20px;
}

.form-error {
  color: red;
}

//.test {
//  color: red;
//  margin-top: 118px;
//  margin-bottom: 20px;
//}
