@import "../../../assets/css/app.css";
@import "../../../assets/css/style.css";
//
//.bg-dark .dker {
//  background-color: #405161;
//}

 .test ::ng-deep {
  color: green;
  margin-top: 118px;
  margin-bottom: 20px;
}
