<h1>
  Additional Information
</h1>
<form novalidate
      (ngSubmit)="onSave()"
      #f3="ngForm">

  <div class="form-group"
       [ngClass]="{
          'has-danger': capability.invalid && (capability.dirty || capability.touched),
          'has-success': capability.valid && (capability.dirty || capability.touched)
     }">
    <label class="control-label">Capability</label>
    <input type="text"
           class="form-control"
           name="capability"
           [(ngModel)]="model.capability"
           #capability="ngModel">
    <div class="form-error"
         *ngIf="capability.errors && (capability.dirty || capability.touched)">
      <p *ngIf="capability.errors.required">Capability is required</p>
    </div>
  </div>

  <div class="form-error" *ngIf="error!==''">
    <p> {{error}} </p>
  </div>

  <button type="button"
          class="btn btn-primary"
          (click)="onBack()"
  >Back
  </button>

  <button type="submit"
          class="btn btn-primary"
          [disabled]="f3.invalid">Submit
  </button>

</form>
