<h2>
  Additional Information
</h2>
<form novalidate
      (ngSubmit)="onSave()"
      #f3="ngForm">

  <div class="form-group"
       [ngClass]="{
          'has-danger': capability.invalid && (capability.dirty || capability.touched),
          'has-success': capability.valid && (capability.dirty || capability.touched)
     }">
    <label class="control-label">Capability</label>
    <input type="text"
           class="form-control"
           name="capability"
           [(ngModel)]="model.capability"
           #capability="ngModel">
    <div class="form-error"
         *ngIf="capability.errors && (capability.dirty || capability.touched)">
      <p *ngIf="capability.errors.required">Capability is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': equipment.invalid && (equipment.dirty || equipment.touched),
          'has-success': equipment.valid && (equipment.dirty || equipment.touched)
     }">
    <label class="control-label">Equipment</label>
    <input type="text"
           class="form-control"
           name="equipment"
           [(ngModel)]="model.equipment"
           #equipment="ngModel">
    <div class="form-error"
         *ngIf="equipment.errors && (equipment.dirty || equipment.touched)">
      <p *ngIf="equipment.errors.required">Equipment is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': certifications_standards.invalid && (certifications_standards.dirty || certifications_standards.touched),
          'has-success': certifications_standards.valid && (certifications_standards.dirty || certifications_standards.touched)
     }">
    <label class="control-label">Certifications and Standards</label>
    <input type="text"
           class="form-control"
           name="certifications_standards"
           [(ngModel)]="model.certifications_standards"
           #certifications_standards="ngModel">
    <div class="form-error"
         *ngIf="certifications_standards.errors && (certifications_standards.dirty || certifications_standards.touched)">
      <p *ngIf="certifications_standards.errors.required">Certifications and Standards is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
        'has-danger': capacity.invalid && (capacity.dirty || capacity.touched),
        'has-success': capacity.valid && (capacity.dirty || capacity.touched)
   }">
    <label class="control-label">Capacity</label>
    <input type="text"
           class="form-control"
           name="capacity"
           [(ngModel)]="model.capacity"
           #capacity="ngModel">
    <div class="form-error"
         *ngIf="capacity.errors && (capacity.dirty || capacity.touched)">
      <p *ngIf="capacity.errors.required">Capacity is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': availability.invalid && (availability.dirty || availability.touched),
          'has-success': availability.valid && (availability.dirty || availability.touched)
     }">
    <label class="control-label">Availability</label>
    <input type="text"
           class="form-control"
           name="availability"
           [(ngModel)]="model.availability"
           #availability="ngModel">
    <div class="form-error"
         *ngIf="availability.errors && (availability.dirty || availability.touched)">
      <p *ngIf="availability.errors.required">Availability is required</p>
    </div>
  </div>

  <div class="form-error" *ngIf="error!==''">
    <p> {{error}} </p>
  </div>

  <button type="button"
          class="btn btn-primary"
          (click)="onBack()"
  >Back
  </button>

  <button type="submit"
          class="btn btn-primary"
          [disabled]="f3.invalid">Submit
  </button>

</form>
