<h6> We're asking you a few questions so we can match you with right buyers </h6>
<seller-register-account-form
  *ngIf="currentPage==='account'"
  [model]="model"
  (next)="onNext($event)"
  [error]="error$ | async"
></seller-register-account-form>

<seller-register-contact-form
  [model]="model"
  (next)="onNext($event)"
  (back)="onBack()"
  *ngIf="currentPage==='contact'"
></seller-register-contact-form>

<seller-additional-information-form
  *ngIf="currentPage==='additional_information'"
  (back)="onBack()"
  (save)="onNext($event); onSave()"
></seller-additional-information-form>

<p class="form-error">
  {{ error$ | async }}
</p>

