<!-- main-container -->
<div class="main-container clearfix">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <div id="search">
    <button type="button" class="close"><img src="images/close.png" alt="" /></button>
    <div class="container text-center">
      <form>
        <div class="search-box"><input type="search" value="" placeholder="type keyword here" /></div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</div>
<!-- /main-container -->
