<!-- showcase-section -->
<section class="showcase-section">
  <div class="hero-img-section img2"></div>
  <!-- showcase-content -->
  <div class="showcase-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12 showcase-header">
          <h1 class="showcase-title">Additive Manufacturing Exchange</h1>
          <p>Register and get your ideas 3D Printed</p>
          <br/><br/>
          <a class="btn btn-secondry-brd btn-lg btn-rounded" href="form_template.html">Register</a>
          <a href="#content" class="down-arrow-btn"></a>
        </div>
        <div class="col-md-12 find-you-next-adv-block">
          <h6>Get matched with a buyer or seller</h6>
          <div class="find-destination-form-block">
            <form action="login.html">
              <div class="row">
                <div class="col-md-3 col-sm-12">
                  <div class="form-group form-group-lg fg-1">
                    <select class="form-control form-control-rounded selectpicker">
                      <option>Looking for</option>
                      <option>Manufacturer (Seller)</option>
                      <option>Buyer</option>
                    </select>
                  </div>
                </div>
                <!--logic block for left most selection begins -->
                <div class="col-md-3 col-sm-6">
                  <div class="form-group form-group-lg fg-2">
                    <select class="form-control form-control-rounded selectpicker">
                      <option>Equipment</option>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                    </select>
                  </div>
                </div>

                <!-- Dynamic option block should change based on buyer or seller-->
                <div class="col-md-3 col-sm-6">
                  <div class="form-group form-group-lg fg-3">
                    <select class="form-control form-control-rounded selectpicker">
                      <option>Material</option>
                      <option>Aluminum ALSi10mg</option>
                      <option>Titanium Ti64</option>
                      <option>Inconel 718</option>
                      <option>Inconel 625</option>
                      <option>Stainless Steel</option>
                      <option>Polymer</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
                <!-- End dynamic option block -->

                <div class="col-md-3  col-sm-12">
                  <button type="submit" class="btn btn-rounded btn-primary btn-lg btn-block">
                    <i class="fa fa-search"></i>  GET MATCHED
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /showcase-content -->
</section>
<!-- /showcase-section -->

<!-- who-are-we-block -->
<section id="content" class="section-block who-are-we-block who-are-we-block-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="section-title-header2">
          <h2>Why Additive Manufacturing Exchange</h2>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Our Exchange offers buyers of Additive Manufacturing ("AM") produced parts the means of connecting with and conducting business with additive manufacturers in a digital environment. The Exchange is the Digital Marketplace for the AM Industry.</p>
        <p>Whether you are an individual seeking to print a model, a metal toy or a novelty item or an industrial company seeking to procure a complex part through AM, the Exchange will connect you with AM manufacturers that have been evaluated for your specific needs.</p>
        <p>The Exchange will analyze your requirement and provide you with a list of qualified providers and the tools to complete your transaction.  Your transaction from selection through delivery and payment will be quickly completed using our digital marketplace.</p>
        <p>Your transaction from selection through delivery and payment will be quickly completed using our digital marketplace.</p>
        <p><a href="about-us.html" class="btn btn-primary-brd text-uppercase btn-lg">About us</a></p>
        <br>
        <br>
      </div>

    </div>
  </div>
</section>
<!-- who-are-we-block -->

<!-- supported-materials-block -->
<section class="section-block discover-world-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="section-title-header2">
          <h2>Get Started</h2>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Buyers and sellers must first be registered as an individual or a company.  Registration will establish a user’s account that will uniquely identify the individual or company to ensure accurate processing in the Exchange.  Registration will also offer subscription options.  In the early stages of the development of our various tools, customers can use the Exchange without a subscription.</p>
        <p>Sellers of additive manufacturing capability enter, through their registration, their AM capabilities by industry sector, AM machine capability, material capability, software processing capability and final finishing capabilities.   </p>
        <p> Buyers of additive manufacturing capability enter, through their registration, their Name or Company Name, Address, POC and Credit Scores (individual) or D&B Paydex Score (D&B D-U-N-S Number Required) (Company).</p>
      </div>
      <div class="col-md-12">
        <a href="javascript:;"><img class="img-responsive" src="../../assets/images/amex_call_to_action.jpg" alt="CALL TO ACTION">
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid discover-central-world-container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <figure class="discover-spot-block">
          <img src="../../assets/images/discover-spot-img-1.jpg" alt="" />
          <div class="overlay-block">
            <h3>Metals</h3>
            <p>Industrial machines have the ability to use metals; this is not really an option for home printers because of the cost.</p>
          </div>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4">
        <figure class="discover-spot-block">
          <img src="../../assets/images/discover-spot-img-2.jpg" alt="" />
          <div class="overlay-block">
            <h3>Thermoplastics</h3>
            <p>Thermoplastics, or polymers, are amongst the cheapest materials that can be used in additive manufacturing and are the typical content for commercial 3D printers being sold for home use.</p>
          </div>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4">
        <figure class="discover-spot-block">
          <img src="../../assets/images/discover-spot-img-1.jpg" alt="" />
          <div class="overlay-block">
            <h3>Glass</h3>
            <p>A rather more surprising entrant to the Additive Manufacturing market is chocolate, with baking and cooking set to be revolutionised by this technology.</p>
          </div>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <figure class="discover-spot-block">
          <img src="../../assets/images/discover-spot-img-2.jpg" alt="" />
          <div class="overlay-block">
            <h3>Biochemical materials</h3>
            <p>As well as industrial manufacturing uses, there’s the possibility that additive manufacturing processes could be used in the medical field too.</p>
          </div>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4">
        <figure class="discover-spot-block">
          <img src="../../assets/images/discover-spot-img-1.jpg" alt="" />
          <div class="overlay-block">
            <h3>Chocolate</h3>
            <p>Ground down into a powder so it can be layered thinly as required, glass can be used in Additive Manufacturing processes. </p>
          </div>
        </figure>
      </div>
      <div class="col-md-4 col-sm-4">
        <figure class="discover-spot-block">
          <img src="../../assets/images/discover-spot-img-2.jpg" alt="" />
          <div class="overlay-block">
            <h3>Polymers</h3>
            <p>Polymers and metals are the most common types of material used in Additive Manufacturing and can be used to produce moulds and functioning components. </p>
          </div>
        </figure>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <a href="manufacturer-list.html" class="btn btn-primary-brd text-uppercase btn-lg">Register to view all vendors</a>
      </div>
    </div>
  </div>
</section>
<!-- supported-materials-block  -->

<!-- amex-different-block -->
<section class="section-block trip-different-block2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="section-title-header2">
          <h2>What makes these AMEX different?</h2>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="video-frame-block2">
          <img src="../../assets/images/video-img.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- amex-different-block -->

<!-- testomonial-block -->
<section class="section-block testomonial-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="testimonial-carousel" class="carousel slide carousel-fade" data-ride="carousel">
          <!-- #testimonial-carousel -->
          <ol class="carousel-indicators">
            <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#testimonial-carousel" data-slide-to="1"></li>
            <li data-target="#testimonial-carousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <div class="testimonial-data">
                <figure class="testimoni-thumb"><img src="../../assets/images/testimonial-thumb-1.jpg" alt="" />
                </figure>
                <div class="testnimonial-text">
                  <h5>Supon Saha</h5>
                  <p class="author-designation">Lorem ipsu doller</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur volutpat nisi vitae commodo. Maecenas a aliquet ligula. Integer vehicula dolor vehicula felis varius, vitae molestie odio sagittis.</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-data">
                <figure class="testimoni-thumb"><img src="../../assets/images/testimonial-thumb-1.jpg" alt="" />
                </figure>
                <div class="testnimonial-text">
                  <h5>Supon Saha</h5>
                  <p class="author-designation">Lorem ipsu doller</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur volutpat nisi vitae commodo. Maecenas a aliquet ligula. Integer vehicula dolor vehicula felis varius, vitae molestie odio sagittis.</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-data">
                <figure class="testimoni-thumb"><img src="../../assets/images/testimonial-thumb-1.jpg" alt="" />
                </figure>
                <div class="testnimonial-text">
                  <h5>Supon Saha</h5>
                  <p class="author-designation">Lorem ipsu doller</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur volutpat nisi vitae commodo. Maecenas a aliquet ligula. Integer vehicula dolor vehicula felis varius, vitae molestie odio sagittis.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#testimonial-carousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#testimonial-carousel" data-slide="next">&rsaquo;</a>
        </div>
        <!-- /#testimonial-carousel -->
      </div>
      <div class="col-md-6">
        <div class="logos-section-block clearfix">
          <a class="logo-block" href="javascript:;"><img src="../../assets/images/cs-logo-1.png" alt="">
          </a>
          <a class="logo-block" href="javascript:;"><img src="../../assets/images/cs-logo-2.png" alt="">
          </a>
          <a class="logo-block" href="javascript:;"><img src="../../assets/images/cs-logo-3.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /testomonial-block -->
