<footer id="footer" class="">
    <span class="footer-top-icon"><i class="fa fa-pie-chart fa-flip-horizontal"></i></span>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="footer-newsletter-block">
          <h5>Newsletter</h5>
          <label class="text-uppercase">Receive News and Offers</label>
          <div class="input-group">
            <input type="text" class="form-control form-control-dark"  placeholder="Email Address">
            <span class="input-group-btn">
                          <button class="btn btn-green" type="button"><i class="fa fa-paper-plane"></i></button>
                        </span>
          </div>
          <!-- /input-group -->
        </div>

      </div>
      <div class="col-md-3 col-sm-12">
        <h5>Quick Links</h5>
        <ul class="angle-right-bullet-list gray-bullet text-uppercase">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="faqs.html">FAQs</a></li>
          <li><a href="login.html#manufacturer">Manufacturer Login</a></li>
          <li><a href="login.html#buyer">Buyer Login</a></li>
        </ul>
        <br class="hidden-md hidden-lg">
      </div>
      <div class="col-md-3 col-sm-12">
        <h5>About Company</h5>
        <p>The Additive Manufacturing Exchange (AMEX), LLC was organized in the Commonwealth of Virginia in 2014 to digitize business processes for the additive manufacturing industry. The Co-Owners and founders are Morgan Donaldson and Greg Orndorff.  Morgan is a retired Naval Officer.  Greg is a retired Air Force Officer.</p>
        <p><a href="about-us.html" class="blue-link">Read More</a>
        </p>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="f-contact-block clearfix">
          <h5>Contact Us</h5>
          <p>
            <label>Phone: </label> +1234 567 89</p>
          <p>
            <label>Fax: </label> +1234 567 89</p>
          <p>
            <label>E-Mail: </label> <a href="mailto:info@additivemanufacturing.exchange">info@additivemanufacturing.exchange</a>
          </p>
          <address>
            7100 Athens Place<br>Washington, DC. 20521 - 7100
          </address>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="footer-copy-right">© 2017 Additive Manufacturing. All Rights Reserved.</p>
      </div>
    </div>
</footer>
