<h1> Account </h1>
<form novalidate
      (ngSubmit)="onSubmit()"
      #f="ngForm">

  <div class="form-group"
       [ngClass]="{
         'has-danger': first_name.invalid && (first_name.dirty || first_name.touched),
         'has-success': first_name.valid && (first_name.dirty || first_name.touched)
    }">
    <label class="control-label">First Name</label>
    <input type="text"
           class="form-control"
           name="first_name"
           [(ngModel)]="model.first_name"
           #first_name="ngModel">

    <div class="form-error"
         *ngIf="first_name.errors && (first_name.dirty || first_name.touched)">
      <p *ngIf="first_name.errors.required">First Name is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': last_name.invalid && (last_name.dirty || last_name.touched),
          'has-success': last_name.valid && (last_name.dirty || last_name.touched)
     }">
    <label class="control-label">Last Name</label>
    <input type="text"
           class="form-control"
           name="last_name"
           [(ngModel)]="model.last_name"
           #last_name="ngModel">
    <div class="form-error"
         *ngIf="last_name.errors && (last_name.dirty || last_name.touched)">
      <p *ngIf="last_name.errors.required">Last Name is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)
     }">
    <label class="control-label">Email</label>
    <input type="text"
           class="form-control"
           name="email"
           [(ngModel)]="model.email"
           #email="ngModel">
    <div class="form-error"
         *ngIf="email.errors && (email.dirty || email.touched)">
      <p *ngIf="email.errors.required">Email is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': password.invalid && (password.dirty || password.touched),
          'has-success': password.valid && (password.dirty || password.touched)
     }">
    <label class="control-label">Password</label>
    <input type="password"
           class="form-control"
           name="password"
           [(ngModel)]="model.password"
           #password="ngModel">
    <div class="form-error"
         *ngIf="password.errors && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required">Password is required</p>
    </div>
  </div>


  <div class="form-group"
       [ngClass]="{
          'has-danger': profile_image.invalid && (profile_image.dirty || profile_image.touched),
          'has-success': profile_image.valid && (profile_image.dirty || profile_image.touched)
     }">
    <label class="control-label">Profile Image</label>
    <input type="text"
           class="form-control"
           name="profile_image"
           [(ngModel)]="model.profile_image"
           #profile_image="ngModel">
    <div class="form-error"
         *ngIf="profile_image.errors && (profile_image.dirty || profile_image.touched)">
      <p *ngIf="profile_image.errors.required">Profile Image is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': equipment.invalid && (equipment.dirty || equipment.touched),
          'has-success': equipment.valid && (equipment.dirty || equipment.touched)
     }">
    <label class="control-label">Equipment</label>
    <input type="text"
           class="form-control"
           name="equipment"
           [(ngModel)]="model.equipment"
           #equipment="ngModel">
    <div class="form-error"
         *ngIf="equipment.errors && (equipment.dirty || equipment.touched)">
      <p *ngIf="equipment.errors.required">Equipment is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': certifications_standards.invalid && (certifications_standards.dirty || certifications_standards.touched),
          'has-success': certifications_standards.valid && (certifications_standards.dirty || certifications_standards.touched)
     }">
    <label class="control-label">Certifications and Standards</label>
    <input type="text"
           class="form-control"
           name="certifications_standards"
           [(ngModel)]="model.certifications_standards"
           #certifications_standards="ngModel">
    <div class="form-error"
         *ngIf="certifications_standards.errors && (certifications_standards.dirty || certifications_standards.touched)">
      <p *ngIf="certifications_standards.errors.required">Certifications and Standards is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
        'has-danger': capacity.invalid && (capacity.dirty || capacity.touched),
        'has-success': capacity.valid && (capacity.dirty || capacity.touched)
   }">
    <label class="control-label">Capacity</label>
    <input type="text"
           class="form-control"
           name="capacity"
           [(ngModel)]="model.capacity"
           #capacity="ngModel">
    <div class="form-error"
         *ngIf="capacity.errors && (capacity.dirty || capacity.touched)">
      <p *ngIf="capacity.errors.required">Capacity is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': availability.invalid && (availability.dirty || availability.touched),
          'has-success': availability.valid && (availability.dirty || availability.touched)
     }">
    <label class="control-label">Availability</label>
    <input type="text"
           class="form-control"
           name="availability"
           [(ngModel)]="model.availability"
           #availability="ngModel">
    <div class="form-error"
         *ngIf="availability.errors && (availability.dirty || availability.touched)">
      <p *ngIf="availability.errors.required">Availability is required</p>
    </div>
  </div>

  <div class="form-error" *ngIf="error!==''">
    <p> {{error}} </p>
  </div>

  <button type="submit"
          class="btn btn-primary"
          [disabled]="f.invalid">Submit
  </button>

  <button type="submit"
          class="btn btn-primary"
          [disabled]="f.invalid">Next
  </button>

</form>
