<h2> Account </h2>
<form novalidate
      (ngSubmit)="onNext()"
      #f1="ngForm">

  <div class="form-group"
       [ngClass]="{
         'has-danger': first_name.invalid && (first_name.dirty || first_name.touched),
         'has-success': first_name.valid && (first_name.dirty || first_name.touched)
    }">
    <label class="control-label">First Name</label>
    <input type="text"
           class="form-control"
           name="first_name"
           [(ngModel)]="model.first_name"
           #first_name="ngModel">

    <div class="form-error"
         *ngIf="first_name.errors && (first_name.dirty || first_name.touched)">
      <p *ngIf="first_name.errors.required">First Name is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': last_name.invalid && (last_name.dirty || last_name.touched),
          'has-success': last_name.valid && (last_name.dirty || last_name.touched)
     }">
    <label class="control-label">Last Name</label>
    <input type="text"
           class="form-control"
           name="last_name"
           [(ngModel)]="model.last_name"
           #last_name="ngModel">
    <div class="form-error"
         *ngIf="last_name.errors && (last_name.dirty || last_name.touched)">
      <p *ngIf="last_name.errors.required">Last Name is required</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)
     }">
    <label class="control-label">Email</label>
    <input type="text"
           class="form-control"
           name="email"
           [(ngModel)]="model.email"
           #email="ngModel"
           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
           required
    >
    <div class="form-error"
         *ngIf="email.errors && (email.dirty || email.touched)">
      <p *ngIf="email.errors.required">Email is required</p>
      <p *ngIf="email.errors.pattern">Email is not formatted correctly</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': password.invalid && (password.dirty || password.touched),
          'has-success': password.valid && (password.dirty || password.touched)
     }">
    <label class="control-label">Password</label>
    <input type="password"
           class="form-control"
           name="password"
           [(ngModel)]="model.password"
           #password="ngModel"
           required
           minlength= "6"
    >
    <div class="form-error"
         *ngIf="password.errors && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required">Password is required</p>
      <p *ngIf="password.errors.minlength">Password should be at least 6 characters</p>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{
          'has-danger': company.invalid && (company.dirty || company.touched),
          'has-success': company.valid && (company.dirty || company.touched)
     }">
    <label class="control-label">Company</label>
    <input type="text"
           class="form-control"
           name="company"
           [(ngModel)]="model.company"
           #company="ngModel">
    <div class="form-error"
         *ngIf="company.errors && (company.dirty || company.touched)">
      <p *ngIf="company.errors.required">Company is required</p>
    </div>
  </div>

  <button type="submit"
          class="btn btn-primary"
          [disabled]="f1.invalid"> Next
  </button>

</form>
